body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #b71c1c;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #ffffff;
}

#about-me {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    background-color: #ff4081;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
}

.box {
    background-color: #0288d1;
    padding: 20px;
    border: 2px solid #00796b;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.profile-pic-box {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: #1976d2;
    border-radius: 50%;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: auto;
    border: 5px solid #d32f2f;
}

.text-box {
    flex: 1;
    text-align: left;
    background-color: #388e3c;
    border: 2px solid #2e7d32;
    padding: 20px;
    color: #333;
}

.button-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

#animate-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#animate-btn:hover {
    background-color: #e64a19;
}

section {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#technologies h2, #resources h2 {
    color: #b71c1c;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 40px;
    color: #555;
}

ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.w3schools-link, .mdn-link {
    color: #0288d1;
    text-decoration: none;
}

.w3schools-link:hover, .mdn-link:hover {
    color: #b71c1c;
}

@media (max-width: 768px) {
    #about-me {
        flex-direction: column;
    }

    .profile-pic-box {
        margin: 0 auto 20px;
    }

    .button-box {
        justify-content: center;
    }
}

#class-reason {
    background-color: #f8f8f8;
    border: 2px solid #00796b;
}

#technologies {
    background-color: #ffccbc;
    border: 2px solid #e64a19;
}

#resources {
    background-color: #e1bee7;
    border: 2px solid #8e24aa;
}

#technologies h2, #resources h2, #class-reason h2 {
    color: #b71c1c;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}
